<section class="example-section">

  <!-- node cha -->
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  color="primary"
                  [value]="permission.name"
                  [(ngModel)]="permission.completed"
                  (change)="setAll($event.checked)">
      {{permission.name}}
    </mat-checkbox>
  </span>


  <!-- node con -->
  <span class="example-list-section">
    <ul>
      <li *ngFor="let child of permission.child">
        <mat-checkbox [(ngModel)]="child.completed"
                      color="primary"
                      [value]="child.name"
                      (change)="updateArr($event.checked, $event.source.value)"
        >
          {{child.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>

</section>

<button (click)="emitData()">console log</button>
